
$fontSize: 2em;
$color: rgb(19, 7, 58);
$backgroundColor: rgb(170, 151, 57);
@mixin centerMargin($verticalMargin) {
    margin: $verticalMargin auto;
}
@mixin defaultSpacing() {
    margin: .2em;
    padding: .2em;
}
@keyframes shapeCreated {
    from { scale: 0% };
    to { scale: 100% };
}
@keyframes shapeDeleted {
    from { opacity: 1; };
    to { opacity: 0; };
}
body {
    background-color: $backgroundColor;
    color: $color;
    font-size: $fontSize;
}
h1 {
    text-align: center;
    margin: .4em .2em;
}
form {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
}
form div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    @include defaultSpacing(); 
}
form div label,  form div input {
    @include defaultSpacing();
}
#shapeContainer div {
    @include centerMargin(100px);
    animation: shapeCreated 300ms ease forwards;
}
#shapeContainer div div{
    @include centerMargin(0px);
}
#shapeContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: fit-content;
    @include centerMargin(0px);
    transition-property: height;
    transition-duration: 300ms;
}
button {
    display: block;
    justify-content: center;
    font-size:  $fontSize / (1.618 * 2);
    padding: .5em;
    @include centerMargin(.2em);
    width: max-content;
    border-radius: 9999px;
    transition-duration: 300ms;
    transform-origin: center center;
    &:hover {
        font-size:  $fontSize / 1.618;
    }
}
.headerBox {
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
}
button, .headerBox, #shapeContainer {
    box-shadow: .1em .2em .2em $color;
}
.deleting {
    animation: shapeDeleting 1s linear forwards;
}

button:focus {
    outline: none;
    border-color: $color;
}
